/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.recommendation { clear: both; border-top: 14px solid #090; padding: 0px 0px;}
.recommendation img { float: right; margin: 15px 0px 20px 20px; width: 300px; box-shadow: 7px 7px 4px #999;}
.recommendation h1 a, .recommendation h1 a:visited { text-decoration: none; color: #444;}
.recommendation img.free { width: 80px; box-shadow: none; float: none;}
.description { padding-top: 15px;}
p { line-height: 29px; color: #444; font-size: 18px;}

